<div class="kt-widget1">
	<ng-container *ngFor="let item of data">
		<ng-container [ngTemplateOutlet]="itemTemplate" [ngTemplateOutletContext]="{item: item}"></ng-container>
	</ng-container>
</div>

<ng-template #itemTemplate let-item="item">
	<div class="kt-widget1__item">
		<div class="kt-widget1__info">
			<h1 class="kt-widget1__title">{{item.title}}</h1>
			<h2><span class="kt-widget1__desc" style="fontSize: 18px;">{{item.desc}}</span></h2>
		</div>
		<h2><span class="kt-widget1__number" style="fontSize: 18px;" [ngClass]="item.valueClass"><b>{{item.value}}</b></span></h2>
	</div>
</ng-template>
