<!--
<div class="row">
  <div class="col-sm-6">
    <p>submissionId</p>
    <span *ngIf="false">
      <p>submission_id is "{{chartData.submissionId}}"</p>
      <p>submission_timestamp is "{{chartData.submissionTime}}"</p>
    </span>
  </div>
</div>
-->

<!-- begin:: Content Head -->
<div class="kt-subheader kt-grid__item" id="kt_subheader">
  <div class="" >
    <div class="kt-subheader__main">
      <h3 class="kt-subheader__title">Document Stats</h3>

      <span *ngIf="submissionId" class="kt-subheader__separator kt-subheader__separator--v"></span>
      <h4 *ngIf="submissionId" class="kt-subheader__desc">Submission ID</h4>
      <h4 *ngIf="submissionId" class="kt-subheader__desc">#{{submissionId}}</h4>
      <!-- <a href="javascript:;" class="btn btn-label-warning btn-bold btn-sm btn-icon-h kt-margin-l-10">
        Add New
      </a> -->

    </div>
  </div>
</div>
<!-- end:: Content Head -->


<div class="row">

  <div class="col-sm-12 col-md-12 col-lg-6">
    <kt-portlet [class]="'kt-portlet--height-fluid-half kt-portlet--border-bottom-brand'">
      <kt-portlet-body [class]="'kt-portlet__body--fluid'">
        <kt-widget26 *ngIf="chartData" [value]="chartData.lengthBySentence" [desc]="'Number of sentences'" [options]="{}"></kt-widget26>
        <kt-widget26 *ngIf="chartData" [value]="chartData.lengthByDistinctToken" [desc]="'Number of tokens'" [options]="{}"></kt-widget26>
      </kt-portlet-body>
    </kt-portlet>

    <div class="kt-space-20"></div>

    <kt-portlet [class]="'kt-portlet--height-fluid-half kt-portlet--border-bottom-brand'">
      <kt-portlet-body [class]="'kt-portlet__body--fluid'">
        <kt-widget26 *ngIf="chartData" [value]="chartData.lengthByWord" [desc]="'Word count'" [options]="{}"></kt-widget26>
        <kt-widget26 *ngIf="chartData" [value]="chartData.lengthByCharacter" [desc]="'Total length (character)'" [options]="{}"></kt-widget26>
      </kt-portlet-body>
    </kt-portlet>
  </div>

  <div class="col-sm-12 col-md-12 col-lg-6">
    <kt-portlet [class]="'kt-portlet--height-fluid-half kt-portlet--border-bottom-brand'">
      <kt-portlet-body [class]="'kt-portlet__body--fluid'">
        <kt-widget26 *ngIf="chartData" [value]="chartData.lexicalDiversity" [desc]="'Lexical diversity'" [options]="{}"></kt-widget26>
      </kt-portlet-body>
    </kt-portlet>

    <div class="kt-space-20"></div>

    <kt-portlet [class]="'kt-portlet--height-fluid-half kt-portlet--border-bottom-brand'">
      <kt-portlet-body [class]="'kt-portlet__body--fluid'">
        <kt-widget-figures *ngIf="chartData" [title]="'Top 10 token (%)'" [desc]="'Check out for more details'" [data]="chartData.dataByFdist" style="width: 100%;"></kt-widget-figures>
      </kt-portlet-body>
    </kt-portlet>
  </div>

</div>

<div class="row">
  <div class="col-sm-12">
    <kt-portlet [class]="'kt-portlet--height-fluid'">
      <kt-portlet-header [title]="'Submissions Table'" [class]="'kt-portlet__head--lg kt-portlet__head--noborder kt-portlet__head--break-sm'">
      </kt-portlet-header>
      <kt-portlet-body [class]="'kt-portlet__body--fit'">
        <!-- <kt-data-table></kt-data-table> -->
        <kt-submission-table></kt-submission-table>
      </kt-portlet-body>
    </kt-portlet>
  </div>
</div>
