<div class="row">
  <div class="col-xl-6">
    <p>Left</p>
  </div>
  <div class="col-xl-6">
    <p>document-stat-landing works!</p>
  </div>
</div>


<kt-portlet>
  <kt-portlet-body [class]="'kt-portlet__body--fit'">
    <div class="row row-no-padding row-col-separator-xl">
      <div class="col-xl-4">
        <kt-widget1></kt-widget1>
      </div>
    </div>
  </kt-portlet-body>
</kt-portlet>


<div class="row">
  <div class="col-xl-8">
    <kt-portlet [class]="'kt-portlet--height-fluid'">
      <kt-portlet-header [title]="'Exclusive Datatable'" [class]="'kt-portlet__head--lg kt-portlet__head--noborder kt-portlet__head--break-sm'">
        <ng-container ktPortletTools>
          <kt-context-menu></kt-context-menu>
        </ng-container>
      </kt-portlet-header>
      <kt-portlet-body [class]="'kt-portlet__body--fit'">
        <kt-data-table></kt-data-table>
      </kt-portlet-body>
    </kt-portlet>
  </div>
</div>
